/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*-------------------- 
  common styles 
  -------------------*/
body{
    margin: 0;
    overflow-x: hidden;
}
.link-button a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 30px;
  text-decoration: none;
  background-color: #E02C6D;
  padding: 10px 24px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.link-button a:hover{
transform: scale(1.03);
transition: transform 0.3s ease-in;
}
.link-button .button .fa-arrow-right{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 8px;
}
.bonus-part-heading{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

/*-------------------- 
  hero section style 
  --------------------*/
  #hero-section{
      background-color: #2D25A0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 628px;
      margin-bottom: 70px;
  }
  .hero-half-1{
    margin: 207px 102px 240px 156px;
  }
  .hero-half-1 h1{
      width: 485px;
      color: #FFFFFF;
      font-family: 'Poppins', sans-serif;
      font-size: 64px;
      line-height: 80px;
      font-weight: 700;
  }
  .hero-half-2 img{
    height: 448px;
    width: 556.01px;
    margin: 135px 141px 86px 0;
  }
  .hero-half-2 img:hover{
    transform: scale(1.04) rotate(5.3deg);
    transition: transform 0.7s ease-in-out;
  }

  /*------------------
   Blog section style 
   -------------------*/

   .blog-section{
     padding: 0 195px;
     margin-top: 27px;
   }

   .blogs{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     /* grid-template-rows: repeat(4, 1fr); */
   }
   .blog{
     width: 300px;
     height: 450px;
     margin: 0 30px 27px 0;
     padding: 15px;
     box-shadow: 0px 0px 40px 0px #00000026;
   }
   .thumbnail{
     overflow: hidden;
   }
   .blog img{
     width: 300px;
     height: 256px;
   }
   .blog:hover img{
     transform: scale(1.2) rotate(5deg);
     transition: transform 1s ease-in-out;
   }
   .blog h3{
    color: #18191F;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 16px 0 10px 0;
   }
   .blog p{
    color: #6C6C6C;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    align-self: stretch;
   }

   /*-------------------- 
  option-part style 
  --------------------*/
  .optional-part{
    display: flex;
    justify-content: center;
    margin: 167px 169px 162px 169px;
  }
  .text-section{
    width: 466px;
    height: 309px;
    margin: 59px 69px 0 0;
  }
  .text-section h1{
    width: 466px;
    height: 120px;
    color: #0A0826;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin: 0 0 8px 0;
  }
  .text-section p{
    width: 404px;
    height: 113px;
    color: #6C6C6C;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 24px 0;
  }
  .img-section img{
    width: 567px;
    height: 427px;
  }

  /*-------------------- 
  bonus part-1 style 
  --------------------*/
  .bonus-part-1{
    margin: 0 50px 65px 50px;
  }
  .bonus-part-1 .link-button-matches a{
    width: 100px;
  }
  .cards{
    display: flex;
    align-items: center;
  }
  .card{
    width: 300px;
    height: 150px;
    margin-right: 25px;
    padding: 23px 35px 15px 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px #00000020;
  }
  .card:hover{
    background-color: #222232;
    cursor: pointer;
  }
  .card:hover .match h4{
    color: #FFFFFF;
  }
  .card:hover .clubs .team1 p{
    color: #FFFFFF;
  }
  .card:hover .clubs .team2 p{
    color: #FFFFFF;
  }
  .card:hover .clubs .match-schedule p, .match-date{
    color: #FFFFFF;
  }
  .match{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .match h4, p{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  .match h4{
    color: #0A0826;
  }
  .match p{
    font-size: 12px;
    color: #FFFFFF;
    background-color: rgb(255, 63, 88);
    margin-right: 5px;
    padding: 4px 20px;
    border-radius: 30px;
  }
  .clubs{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .clubs .team1 img, .team2 img{
    width: 70px;
    height: 70px;
  }
  .clubs .team1 p, .team2 p{
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
  .clubs .match-schedule{
    margin-bottom: 25px;
  }
  .clubs .match-schedule p{
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
  .clubs .match-schedule .match-date{
    margin-top: 5px;
    color: brown;
  }

/*-------------------- 
  bonus part-2 style 
--------------------*/
.bonus-part-2{
  display: flex;
  justify-content: space-between;
  margin: 50px 50px 158px 50px;
}

/* top-score-card */
#top-scorer-card{
  width: 30%;
}
.bonus-part-2-cards{
  background-color: #EDECF9;
  margin-right: 20px;
  padding: 0 20px 7px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px #00000017;
}
.bonus-part-2-cards:hover{
  box-shadow: none;
  transition: 0.3s;
}
.heading-and-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-and-button a{
  text-decoration: none;
  color: #E02C6D;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.top-scorer-player{
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px 10px;
}
.top-scorer-player:hover{
  background-color: #2B2B3D;
  cursor: pointer;
}
.top-scorer-player:hover .top-scorer-details h4, h6{
  color: #FFFFFF;
}
.top-scorer-player .top-scorer-player-img img{
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.top-scorer-player .top-scorer-player-img{
width: 50px;
height: 50px;
border-radius: 50%;
}
.top-scorer-player .top-scorer-details h4, h6{
  position: absolute;
  left: 70px;
  top: 9px;
  font-family: 'Roboto', sans-serif;
}
.top-scorer-player .top-scorer-details .top-scorer-name{
  margin: 0 0 7px 0;
  color: #0A0826;
}
.top-scorer-player .top-scorer-details .top-scorer-club{
  color: #666666;
  font-size: 12px;
  /* margin-left: 17px; */
}
.top-scorer-player .top-scorer-score p{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 13px;
  background-color: #EDECF9;
  border-radius: 50%;
  margin: 0;
  padding: 15px 10px;
}

/* result-card */
#result-card{
  width: 33%;
}
.club-result{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: -webkit-linear-gradient(left, #2B2B3D 0%, #2B2B3D 88%, #222232 88%, #222232 100%);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 15px;
}
.club-result:hover{
  background: -webkit-linear-gradient(left, #E02C6D 0%, #E02C6D 88%, #be1c57 88%, #be1c57 100%);
  cursor: pointer;
}
.club1, .club2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.club1 img, .club2 img{
  width: 27px;
  height: 27px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.club2 .club-img{
  position: absolute;
  right: 55px;
}
.club-img{
  width: 27px;
  height: 27px;
  background-color: #222232;
  border-radius: 50%;
  padding: 7px;
}
.club1-name, .club2-name{
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
}
.club1-name{
  margin: 0 0 0 10px;
}
.club2-name{
  position: absolute;
  right: 95px;
  margin: 0 10px 0 0;
}
.club1vsclub2-score .current-score{
  position: absolute;
  top: 18px;
  left: 142px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #246BFD;
  padding: 3px 10px;
  border-radius: 20px;
  margin: 0;
}
#club-score1{
  margin-right: 10px;
}
#club-score2{
  margin-left: 10px;
}
.match-duration .ft-or-ht{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0 7px 0 0;
}

/* history-card */
#history-cards{
  width: 30%;
}
.history-card{
  position: relative;
  background: -webkit-linear-gradient(left, #2368F8 0%, #0C0C69 100%);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.history-category{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  background-color: #FFFFFF;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 15px;
}
.fa-futbol{
  display: block;
  color: #E02C6D;
}
.history-category h4{
  color: #E02C6D;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 0 0 0 5px;
}
.history-title-thumb{
  display: flex;
  align-items: center;
  justify-content: center;
}
.history-title-date{
  width: 50%;
}
.history-title-date h3, h6{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
.history-title{
  margin: 15px 5px 15px 0;
  font-size: 18px;
  font-weight: normal;
}
.history-title:hover{
  color: #E02C6D;
  cursor: pointer;
}
.history-date{
  position: static;
  margin: 0;
  width: 100%;
  font-size: 12px;
  font-weight: normal;
}
.history-thumbnail{
  width: 50%;
}
.history-thumbnail img{
  position: absolute;
  top: 33.7px;
  right: 0;
  width: 193px;
  border-radius: 0 0 15px 0;
}
.thumb2 img{
  margin: 0 5px 10px 0;
}

/* footer-area */
.footer-area{
  margin-bottom: 63px;
}
#footer-div-outer{
  width: 100%;
}
.footer-contents{
  width: 483.87px;
  height: 213px;
  text-align: center;
}
.footer-contents{
  width: 50%;
  margin: 0 auto;
}
.footer-logo img{
  width: 483.87;
  height: 110px;
}
.footer-social-icons{
  margin: 20px 0;
}
.footer-social-icons .footer-icons{
  font-size: 17.07px;
  color: #969BAB;
  background-color: #DADADB;
  padding: 14.93px;
  border-radius: 50%;
}
.footer-copyright p{
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
.footer-social-icons .footer-icons:hover{
  color: #FFFFFF;
  background-color: #E02C6D;
}